* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  background-image: url("components/quino-al-mBQIfKlvowM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

@media only screen and (max-width: 998px) {
  .first-row {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .first-row .first-item {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .first-row .first-item {
    padding-left: 40px;
  }
}

.input {
  background: none;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.input::placeholder {
  color: white;
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 5px;
}

input:focus::placeholder {
  color: rgba(255, 255, 255, 0);
  transition: color 0.3s;
}

.form-container[data-error]::after {
  content: attr(data-error);
  font-size: small;
  font-weight: bold;
  color: rgb(238, 70, 70);
}

.wrapper-content {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper-navbar {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
